@{
    Layout="Shared/_Layout.cshtml";
}


<h1>Add a new client</h1>
<form action="/clients/new" method="post">
    <label for="client-name">Client name:</label>
    <input id="client-name" name="client-name" type="text">
    <label for="stylist">Stylist</label>
    <select name="stylist-id">
        @foreach (var stylist in Model)
        {
            <option value="@stylist.GetId()">@stylist.GetName()</option>
        }
    </select>
    <button type="submit">Add new client</button>
</form>
<h4><a href="/">Back home</a></h4>
<h4><a href="/clients">View all clients</a></h4>
