@{
    Layout="Shared/_Layout.cshtml";
}

@if (@Model.Count == 0)
{
    <p>No Clients have been added yet!</p>
}
else
{
    <h1>Here are all of the Clients:</h1>
    <ul>
    @foreach (var client in Model)
    {
        <li><a href='/clients/@client.GetId()'>@client.GetName()</a> |  <a href="/client/edit/@client.GetId()">Edit</a>  | <a href="/client/delete/@client.GetId()">Delete</a></li>
    }
    </ul>
}
<h4><a href="/clients/new">Add a new client</a></h4>
<h4><a href="/">Return home</a></h4>
