@{
  Layout="Shared/_Layout.cshtml";
}


<form action="/stylists/new" method="post">
  <p><label for="stylist-name">Stylist name</label>
  <input id="stylist-name" name="stylist-name" type="text"></p>
  <p><label for="stylist-shift">Shift</label>
  <input id="stylist-shift" name="stylist-shift" type="text"></p>
  <p><label for="stylist-specialty">Specialty</label>
  <input id="stylist-specialty" name="stylist-specialty" type="text"></p>
  <p><button type="submit">Add</button></p>
</form>
